# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDEs
.vs/
.vscode/*
!.vscode/settings.json
.idea/
*.suo
*.user

# Claude
.claude/settings.local.json

# Logs
*.log

# Build output
*/bin/
*/obj/

# Install sentinel
.installed
